@import "tailwindcss";

@theme {
  --fontFamily-sans: Inter, sans-serif;

  --color-primary-50: #f0fdfa;
  --color-primary-100: #ccfbf1;
  --color-primary-500: #14b8a6;
  --color-primary-600: #0d9488;
  --color-primary-700: #0f766e;

  --color-secondary-500: #64748b;
  --color-secondary-900: #0f172a;

  --animate-float: float 6s ease-in-out infinite;
  --animate-float-delayed: float 6s ease-in-out 3s infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
